/* Imported Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* End of Imported Google Fonts */

body {
  display: flex;
  justify-content: center;
}

.app {
  margin-top: -10px;
  height: 65vh;
  width: 100vw;
}

.map {
  height: 100%;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
}

input::placeholder {
  color: black;
}

.longitude,
.latitude {
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, 0.87);
  padding: 1rem;
  margin-left: 20vw;
  width: 50vw;
}

.longitude {
  margin-bottom: 10px;
}

.info-p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.delivery-p {
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

.delivery-white {
  color: white;
}

.marker {
  background-image: url("https://i.imgur.com/oz3r3Wq.png?1[/img");
  background-size: cover;
  width: 24px;
  height: 24px;
  background-color: #ffe606;
  border-radius: 12px;
  border: 2px solid black;
}

.delivery-marker {
  background-image: url("https://i.imgur.com/cIooqnp.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  border-radius: 17px;
  border: 2px solid black;
}

.search-bar {
  background-color: #0080ff;
  padding: 40px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1281px) {
  .longitude,
  .latitude {
    margin-left: 20vw;
  }
  .app {
    height: 65vh;
  }

  h1 {
    margin-top: -0.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .longitude,
  .latitude {
    margin-left: 17.5vw;
  }

  h1 {
    margin-top: -1rem;
  }

  .info-p {
    visibility: hidden;
  }

  .delivery-p {
    margin-top: -2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .longitude,
  .latitude {
    margin-left: 10vw;
  }

  h1 {
    margin-top: -1rem;
  }

  .info-p {
    visibility: hidden;
  }

  .delivery-p {
    margin-top: -2.5rem;
  }
}

@media screen and (max-width: 374px) {
  .longitude,
  .latitude {
    margin-left: 6.5vw;
  }

  h1 {
    margin-top: -1rem;
  }

  .info-p {
    visibility: hidden;
  }

  .delivery-p {
    margin-top: -4.5rem;
  }
}

/* END OF MEDIA QUERIES */
